<ul class="social">
  <li>
    <a target="_blank" title="CadenzaFlow on Twitter" href="//twitter.com/cadenzaflow">
      <span class="cam-docs-twitter"></span>
    </a>
  </li>
  <li>
    <a target="_blank" title="CadenzaFlow related topics on Stackoverflow" href="//stackoverflow.com/questions/tagged/cadenzaflow">
      <span class="cam-docs-stackoverflow"></span>
    </a>
  </li>
  <li>
    <a target="_blank" title="CadenzaFlow Forum" href="//forum.cadenzaflow.com">
      <span class="cam-docs-chat"></span>
    </a>
  </li>
</ul><!-- / .social -->
